@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  /* --color-*: initial; */
  --color-aqua-medium: #00adb5; /* Azul-esverdeado médio */
  --color-aqua-dark: #007c82; /* Azul-esverdeado escuro */
  --color-dark-slate: #303841; /* Azul-acinzentado escuro */
  --color-cyan-bright: #00dee8; /* Ciano brilhante */
  --color-light-gray: #eeeeee; /* Cinza claro */
  --color-light-purple: #c19ab7; /* Roxo claro rosado */
  --color-dark-purple: #62405a; /* Roxo escuro ameixa */
  --color-pastel-lavender: #cfbae1; /* Lavanda pastel */
  --color-muted-violet: #6f5d80; /* Violeta acinzentado */
}


